
        <!-- Clear before adding the footer -->
        <div class="clearfix"></div>
        <footer id="footer">
          
            <div class="col-sm-3 col-sm-offset-2">
              <% if (typeof cats != 'undefined') { %>
                 <h4>Article Categories</h4>
                    <ul class="cat-list" style="padding-left:0">
                        <li <% if (typeof category != 'undefined' && category == 'all') { %> class="active" <% } %>>
                            <a href="/all-posts" >Posts from all categories (<%= posts.length %>)</a>
                        </li>  
                    <% for (var cat in cats) { %>
                      <li <% if (typeof category != 'undefined' && cat == category) { %> class="active" <% } %>>
                        <a href="/cat/<%= cat %>"><%= cat %> (<%= cats[cat] %>)</a></li>
                    <% } %>
                    </ul>
            <% } %>
            </div>
            
            <div class="col-sm-3">
              <h4>Search Articles</h4>
                <div>
                  <form method="get" action="/search" class="form-inline">
                  <input type="text" id="search-input" class="form-control" value="<%if (typeof category != 'undefined' && category === 'search'){%><%=q%><%}%>" name="q" style="width:150px">
                    <input type="submit" id="search-button" class="btn btn-default" value="Find">
                </div>
            </div>
            <div class="col-sm-2">
                <h4>Send me a tweet <small>It's sweet</small></h4>
                <div>
                    <div class="form-group">
                        <textarea style="border:1px solid #55AACE" id="sidebar-tweet-text" class="form-control">Hey @graeme_boy, I'm reading your blog!</textarea>
                    </div>
                    <div><a id="sidebar-tweet-button" href="#" class="btn btn-default">Post Tweet</a></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </footer>
        
        <script>var tweetButton = document.getElementById('sidebar-tweet-button');var tweetText = document.getElementById('sidebar-tweet-text');tweetButton.addEventListener('click', function (evt) {tweetButton.href = 'http://twitter.com/share?text=' + tweetText.value + '&related=graeme_boy'; });</script>

        <% if (typeof category != 'undefined' && category !== 'none' && typeof tags != 'undefined') { %>
          <script>var y = document.getElementsByClassName('page-content'),
              aNode = y[0],
              callAction = document.createElement('div'),
              hashtags = '';
            callAction.className = 'call-to-action';

            var tags = '<%= tags %>';
            if (tags != '') {
              hashtags = '&hashtags=' + tags.replace('.', '');
            }
            console.log(hashtags);
            callAction.innerHTML = '<strong>If you enjoyed this post or have something to say about it, <a href="http://twitter.com/share?text=Hey @graeme_boy, I just read your post on <%- ((title.toLowerCase().split("<br/>"))[0].split("<br>"))[0] %>' + hashtags + '&related=graeme_boy">send me a tweet.</a></strong>';
            aNode.appendChild(callAction);
          </script>
        <% } %>

        <% if (typeof scripts != 'undefined') { 
            for (var i = 0; i < scripts.length; i++) { %>
                <script src="<%= scripts[i] %>"></script>
            <% } 
        } %>
        <% if (typeof inlineScripts != 'undefined') { for (i = 0; i < inlineScripts.length; i++) { %>
            <script><%= inlineScripts[i] %></script>
        <% } } %>
    </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34195878-1', 'auto');
  ga('send', 'pageview');

</script>
</html>