<div class="sidebar col-sm-3 col-sm-offset-1" role="complimentary">
    <div class="container-fluid">
        <h4>Article Categories</h4>
        <ul class="cat-list" style="padding-left:0">
            <li <% if (category == 'all') { %> class="active" <% } %>>
                <a href="/all-posts" >Posts from all categories (<%= posts.length %>)</a>
            </li>  
        <% for (var cat in cats) { %>
        	<li <% if (cat == category) { %> class="active" <% } %>>
        		<a href="/cat/<%= cat %>"><%= cat %> (<%= cats[cat] %>)</a></li>
        <% } %>
        </ul>

        <h4>Search Articles</h4>
        <div>
        	<form method="get" action="/search" class="form-inline">
    			<input type="text" id="search-input" class="form-control" value="<%if (category === 'search'){%><%=q%><%}%>" name="q" style="width:150px">
        		<input type="submit" id="search-button" class="btn btn-default" value="Find">
        </div>

        <h4>Natural Language Clock <small>Just for fun</small></h4>
        <a href="https://github.com/graemeboy/Qlock---natural-language-clock-interface">
            <div style="background-color:#fff;margin-top:15px">
                <div id="qlock" class="qlock qlock-light"></div>
            </div>
        </a>
    </div>
</div>