<% include includes/header %>
<% title += '<br/><small>Showing ' + posts.length + ' recent posts</small>'; %>
<% include includes/post-content-head %>

         <% for (var i in posts) { %>
        <div class="archive-post-container" data-tags="<%= posts[i].tags %>">
            <h3 class="archive-title">
                <a href="/<%= posts[i].slug %>"><%= posts[i].title %></a>
            </h3>
            <div class="post-meta" style="margin-top:0;margin-left:10px">
                <span style="margin-right:10px">Category: <a href="/cat/<%= posts[i].cat %>"><%= posts[i].cat %></a></span>
            <% if (typeof posts[i].tags != 'undefined') { %>
                <span>Tags: <%= posts[i].tags.join(", ") %></span>
            <% } %>
            </div>
            <div class="clearfix"></div>
        </div>
        <% } %>

        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include includes/sidebar %>
<% include includes/footer %>