<% include includes/header %>
        <h1 class="page-title"><%= title %></h1>
        <p>Here are some articles that I have written on the topic of <%= category%>.</p>
        <% if (catPosts !== undefined) { %>
        <% for (var i in catPosts) { %>
        <div class="archive-post-container">
            <h3 class="archive-title pull-left">
                <a href="/<%= catPosts[i].slug %>"><%= catPosts[i].title %></a>
            </h3>
            <% if (typeof catPosts[i].tags != 'undefined') {
                for (var x = 0; x < catPosts[i].tags.length; x++) { %>
                <div class="pull-right label label-info" style="margin:28px 5px 10px 0;background-color:#fff;border:1px solid #ccc;color:#777;font-weight:300"><%= catPosts[i].tags[x] %></div>
            <% }
            } %>
            <div class="clearfix"></div>
        </div>
        <% } %>
            <% } else { %>
            <p>There are no posts yet about this topic.</p>
            <p>If you are interested in this topic, and want me to write about it, please <a href="http://twitter.com/share?text=Hey @graeme_boy, please write a little about <%= category %>">send me a tweet</a> about it.</p>
            <% } %>
            </div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include includes/sidebar %>
<% include includes/footer %>